input {
    font-size: 20px;
    width: 300px;
}

div {
    margin: 10px 0;
}

.main-wrapper {
    font-family: 'Poetsen One';
    width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.main-title{
    font-size: 3rem;

}

.main-content{

}

.main-content .card-header{
    font-size: 2rem;
}

.main-title .flash-msg{
    font-size: 2.3rem;
    color: #fff;
    background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
    width: 50%;
    padding: 5rem;
    border-radius: 5px;
    opacity: 0.8;
}
.error-msg{
    font-size: 0.8rem;
    color: red;
}
